<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>China.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,274},{118,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,73}}</string>
                <key>sourceSize</key>
                <string>{118,73}</string>
            </dict>
            <key>China_s_Yuan_Renminbi.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,349},{74,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,72}}</string>
                <key>sourceSize</key>
                <string>{74,72}</string>
            </dict>
            <key>France.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,248},{117,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,74}}</string>
                <key>sourceSize</key>
                <string>{117,74}</string>
            </dict>
            <key>France_s_Euro.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,423},{73,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,73}}</string>
                <key>sourceSize</key>
                <string>{73,73}</string>
            </dict>
            <key>Hong_Kong.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{133,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,78}}</string>
                <key>sourceSize</key>
                <string>{133,78}</string>
            </dict>
            <key>Japan.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,174},{118,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,72}}</string>
                <key>sourceSize</key>
                <string>{118,72}</string>
            </dict>
            <key>Japan_s_Yen.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,399},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>Korea_n.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,324},{117,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,73}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>Korea_s.png</key>
            <dict>
                <key>frame</key>
                <string>{{137,174},{117,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,74}}</string>
                <key>sourceSize</key>
                <string>{117,74}</string>
            </dict>
            <key>Korea_s_yuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,399},{74,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,73}}</string>
                <key>sourceSize</key>
                <string>{74,73}</string>
            </dict>
            <key>Macau.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{133,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,78}}</string>
                <key>sourceSize</key>
                <string>{133,78}</string>
            </dict>
            <key>Russia.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{117,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,74}}</string>
                <key>sourceSize</key>
                <string>{117,74}</string>
            </dict>
            <key>Russia_s_Ruble.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,402},{73,74}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{75,74}</string>
            </dict>
            <key>Taiwan.png</key>
            <dict>
                <key>frame</key>
                <string>{{375,274},{117,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,73}}</string>
                <key>sourceSize</key>
                <string>{117,73}</string>
            </dict>
            <key>Taiwan_s_Dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,326},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>UK.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,138},{134,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,78}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>UK_s_Pound.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,402},{73,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,74}}</string>
                <key>sourceSize</key>
                <string>{73,74}</string>
            </dict>
            <key>USA.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{134,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,78}}</string>
                <key>sourceSize</key>
                <string>{134,78}</string>
            </dict>
            <key>USA_s_Dollar.png</key>
            <dict>
                <key>frame</key>
                <string>{{157,250},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>sickheart.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{410,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,170}}</string>
                <key>sourceSize</key>
                <string>{410,170}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cjkefr.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a3264baa03bed9aaa85d54664742c28$</string>
            <key>textureFileName</key>
            <string>cjkefr.png</string>
        </dict>
    </dict>
</plist>
