<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>black_bing.png</key>
            <dict>
                <key>frame</key>
                <string>{{345,268},{80,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>black_jiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,312},{80,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>black_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{191,222},{80,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>black_ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,429},{80,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>black_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,2},{80,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>black_shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,339},{80,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>black_xiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,2},{80,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>qipan_jinggao_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,2},{83,83}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{83,83}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>qipan_jinggao_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{95,95}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{95,95}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>qipan_jinggao_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,249},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>qipan_piece_sel.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{115,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{115,115}}</string>
                <key>sourceSize</key>
                <string>{117,117}</string>
            </dict>
            <key>qipan_posflag1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,402},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>qipan_posflag2.png</key>
            <dict>
                <key>frame</key>
                <string>{{427,87},{74,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,74}}</string>
                <key>sourceSize</key>
                <string>{74,74}</string>
            </dict>
            <key>red_bing.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,90},{80,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>red_ju.png</key>
            <dict>
                <key>frame</key>
                <string>{{273,180},{80,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>red_ma.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,132},{80,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>red_pao.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{80,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>red_shi.png</key>
            <dict>
                <key>frame</key>
                <string>{{201,92},{80,86}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{80,86}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>red_shuai.png</key>
            <dict>
                <key>frame</key>
                <string>{{109,249},{80,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>red_xiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,356},{80,88}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,88}}</string>
                <key>sourceSize</key>
                <string>{80,90}</string>
            </dict>
            <key>shalou.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>cnchess.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bc68ffcad0cf55e836d28d139d75f200$</string>
            <key>textureFileName</key>
            <string>cnchess.png</string>
        </dict>
    </dict>
</plist>
